    /*
    Flaticon icon font: Flaticon
    Creation date: 08/03/2018 14:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-tumblr-logo-button:before { content: "\f100"; }
.flaticon-whatsapp-1:before { content: "\f101"; }
.flaticon-empty-shopping-cart:before { content: "\f102"; }
.flaticon-shopping-cart:before { content: "\f103"; }
.flaticon-logout:before { content: "\f104"; }
.flaticon-google-plus-logo-button:before { content: "\f105"; }
.flaticon-youtube-logotype:before { content: "\f106"; }
.flaticon-instagram-logo:before { content: "\f107"; }
.flaticon-pinterest-logo:before { content: "\f108"; }
.flaticon-linkedin-button:before { content: "\f109"; }
.flaticon-twitter-logo-button:before { content: "\f10a"; }
.flaticon-facebook-logo-button:before { content: "\f10b"; }
.flaticon-back:before { content: "\f10c"; }
.flaticon-next:before { content: "\f10d"; }
.flaticon-down-arrow:before { content: "\f10e"; }
.flaticon-right-arrow:before { content: "\f10f"; }
.flaticon-arrows-2:before { content: "\f110"; }
.flaticon-double-king-size-bed:before { content: "\f111"; }
.flaticon-transport:before { content: "\f112"; }
.flaticon-interface-1:before { content: "\f113"; }
.flaticon-arrows-1:before { content: "\f114"; }
.flaticon-calendar:before { content: "\f115"; }
.flaticon-tick-inside-circle:before { content: "\f116"; }
.flaticon-close-envelope:before { content: "\f117"; }
.flaticon-circle:before { content: "\f118"; }
.flaticon-google-plus-logo:before { content: "\f119"; }
.flaticon-connection:before { content: "\f11a"; }
.flaticon-facebook-letter-logo:before { content: "\f11b"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f11c"; }
.flaticon-business:before { content: "\f11d"; }
.flaticon-moon-phase-outline:before { content: "\f11e"; }
.flaticon-cloud-storage-download:before { content: "\f11f"; }
.flaticon-social:before { content: "\f120"; }
.flaticon-call-answer:before { content: "\f121"; }
.flaticon-shield:before { content: "\f122"; }
.flaticon-technology-1:before { content: "\f123"; }
.flaticon-shopping-list:before { content: "\f124"; }
.flaticon-arrows:before { content: "\f125"; }
.flaticon-video:before { content: "\f126"; }
.flaticon-interface:before { content: "\f127"; }
.flaticon-left-arrow:before { content: "\f128"; }
.flaticon-food:before { content: "\f129"; }
.flaticon-technology:before { content: "\f12a"; }
.flaticon-people-1:before { content: "\f12b"; }
.flaticon-guest:before { content: "\f12c"; }
.flaticon-whatsapp:before { content: "\f12d"; }
.flaticon-people:before { content: "\f12e"; }
.flaticon-profile:before { content: "\f12f"; }
.flaticon-search:before { content: "\f130"; }
.flaticon-favorite:before { content: "\f131"; }
.flaticon-blank-square:before { content: "\f132"; }
    
    $font-Flaticon-tumblr-logo-button: "\f100";
    $font-Flaticon-whatsapp-1: "\f101";
    $font-Flaticon-empty-shopping-cart: "\f102";
    $font-Flaticon-shopping-cart: "\f103";
    $font-Flaticon-logout: "\f104";
    $font-Flaticon-google-plus-logo-button: "\f105";
    $font-Flaticon-youtube-logotype: "\f106";
    $font-Flaticon-instagram-logo: "\f107";
    $font-Flaticon-pinterest-logo: "\f108";
    $font-Flaticon-linkedin-button: "\f109";
    $font-Flaticon-twitter-logo-button: "\f10a";
    $font-Flaticon-facebook-logo-button: "\f10b";
    $font-Flaticon-back: "\f10c";
    $font-Flaticon-next: "\f10d";
    $font-Flaticon-down-arrow: "\f10e";
    $font-Flaticon-right-arrow: "\f10f";
    $font-Flaticon-arrows-2: "\f110";
    $font-Flaticon-double-king-size-bed: "\f111";
    $font-Flaticon-transport: "\f112";
    $font-Flaticon-interface-1: "\f113";
    $font-Flaticon-arrows-1: "\f114";
    $font-Flaticon-calendar: "\f115";
    $font-Flaticon-tick-inside-circle: "\f116";
    $font-Flaticon-close-envelope: "\f117";
    $font-Flaticon-circle: "\f118";
    $font-Flaticon-google-plus-logo: "\f119";
    $font-Flaticon-connection: "\f11a";
    $font-Flaticon-facebook-letter-logo: "\f11b";
    $font-Flaticon-facebook-placeholder-for-locate-places-on-maps: "\f11c";
    $font-Flaticon-business: "\f11d";
    $font-Flaticon-moon-phase-outline: "\f11e";
    $font-Flaticon-cloud-storage-download: "\f11f";
    $font-Flaticon-social: "\f120";
    $font-Flaticon-call-answer: "\f121";
    $font-Flaticon-shield: "\f122";
    $font-Flaticon-technology-1: "\f123";
    $font-Flaticon-shopping-list: "\f124";
    $font-Flaticon-arrows: "\f125";
    $font-Flaticon-video: "\f126";
    $font-Flaticon-interface: "\f127";
    $font-Flaticon-left-arrow: "\f128";
    $font-Flaticon-food: "\f129";
    $font-Flaticon-technology: "\f12a";
    $font-Flaticon-people-1: "\f12b";
    $font-Flaticon-guest: "\f12c";
    $font-Flaticon-whatsapp: "\f12d";
    $font-Flaticon-people: "\f12e";
    $font-Flaticon-profile: "\f12f";
    $font-Flaticon-search: "\f130";
    $font-Flaticon-favorite: "\f131";
    $font-Flaticon-blank-square: "\f132";