
#logo {
  height: 64px;
  line-height: 64px;
  text-indent: 8px;
  width: 200px;
}

#top-bar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #F8F8F0;
  height: 64px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9500;
}

#button-box {

  flex-direction: row;
  height: 64px;
  position: absolute;
  right: 0;
  top: 0;

}

#toggle-nav, #toggle-search {
  border: 0;
  height: 74px;
  line-height:74px; background:transparent; cursor:pointer;
  padding: 0;
  position: relative;
  text-indent: -99999px;
  width: 48px;
}

#toggle-nav span, #toggle-search span {
  display: block;
  font-size:37px;color:#fff;
  left: 25%;
  position: absolute;
  text-indent: 0;
  top: 0;
}

#toggle-nav span { transform: scale(1, 0.8); }

#toggle-search span { transform: rotate(-45deg); }

#navigation, #search-box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #F8F8F0;
  position: fixed;
  right: 0;
  top:75px;
  z-index:8;
}

#navigation {
  height: 100%;
  overflow: hidden;
  transition: all linear 0.2s;
  width: 0;
}

#navigation.visible {
  transition: all linear 0.2s;
  width: 300px;
}

#nav {
  font-size: 0.875rem;
  height: calc(100% - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100% + 24px);
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav ul li {
  border-top: 1px solid #a1a1a1;
  cursor: pointer;
  position: relative;
}

#nav ul li ul { display: none; }

#nav ul li ul li { background: rgba(0, 0, 0, 0.1); }

#nav ul li a {
  border: 0;
  display: block;
  height: 48px;
  line-height: 48px; font-size:18px;
  padding: 0 8px;
  position: relative;
  white-space: nowrap;
  width: calc(100% - 24px);
}

#nav .hasChildren { width: calc(100% - 56px); }

#nav .hasChildren:after {
  background: rgba(0, 0, 0, 0.1);
  border-left: 1px solid #a1a1a1;
  content: '\22EE';
  font-size: 1.3rem;
  height: 48px;
  position: absolute;
  right: -33px;
  text-align: center;
  top: 0;
  width: 32px;
}

#nav .li-has-Children .ul-visible { border-top: 1px solid #a1a1a1; }

#search-box {
  background: #dadada;
  height: 0;
  overflow: hidden;
  transition: all linear 0.2s;
  width: 100%;
}

#search-box.visible {
  height: 48px;
  transition: all linear 0.2s;
}

#search-form {
  display: flex;
  flex-direction: row;
  height: 32px;
  margin-top: 8px;
  padding: 0 8px;
}

#search-field { width: calc(100% - 48px); }

#search-submit {
  position: relative;
  text-indent: -99999px;
  width: 48px;
}

#search-submit span {
  display: block;
  font-size: 1.7rem;
  left: 25%;
  position: absolute;
  text-indent: 0;
  top: 0;
}

#main {
  margin-top: 88px;
  padding: 0 8px;
  position: relative;
}

#main.blur { filter: blur(1px); }

#overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all linear 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: +1;
}

#overlay.visible {
  opacity: 1;
  visibility: visible;
}
 @media only screen and (min-width: 1200px) {

#logo { float: left; }

#button-box {
  position: relative;
  width: 48px;
}

#toggle-nav { display: none; }

#navigation {
  box-shadow: none;
  float: left;
  height: 64px;
  position: relative;
  top: 0;
  width: calc(100% - 200px - 48px);
}

#nav {
  height: 64px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#nav ul {
  height: 64px;
  position: relative;
}

#nav ul li {
  border-bottom: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  position: relative;
}

#nav ul li a {
  border-bottom: 0;
  color: #232d36;
  height: 64px;
  line-height: 64px;
  padding-right: 8px;
  position: relative;
  width: auto;
  z-index: +1;
}

#nav ul li .hasChildren {
  margin-right: 4px;
  padding-right: 8px;
  width: auto;
}

#nav ul li .hasChildren:after {
  background: transparent;
  border: 0;
  height: 64px;
  padding-right: 4px;
  right: 0;
  width: 8px;
}

#nav ul li ul {
  background: #FFED4E;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: auto;
  margin-top: -1px;
  min-width: 100px;
  position: fixed;
  top: 64px;
  width: auto;
  z-index: +1;
}

#nav ul li ul li {
  display: block;
  width: 100%;
  margin-right: 0;
}

#nav ul li ul li a {
  color: #282828;
  height: 40px;
  line-height: 40px;
  padding-right: 4px;
}

#nav ul li ul li a:hover { background: rgba(0, 0, 0, 0.1); }

#nav ul li ul li .hasChildren {
  margin-right: 0;
  padding-right: 16px;
}

#nav ul li ul li .hasChildren:after {
  height: 40px;
  margin-right: 4px;
}

#nav ul li ul li ul {
  background: #FFD569;
  position: absolute;
  top: 0;
  left: 100%;
}
